<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input required aria-label="add-product" type="text" name="title" id="title" />
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input required aria-label="product-price" type="number" name="price" id="price" step="0.01" />
        </div>
        <div class="form-control">
          <label for="image">Image URL</label>
          <input required aria-label="product-image" type="text" name="image" id="image" />
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea aria-label="product-description" rows="5" name="description" id="description" > </textarea>
        </div>
        <button class="btn" type="submit">Add Product</button>
      </form>
    </main>
<%- include('../includes/end.ejs') %>
